@{
    ViewData["Title"] = "Forgot Password Page";
}

@model WebAdvert.Web.Models.Accounts.ForgotPassword

<div class="row">
    <div class="col-md-4">
        <form asp-controller="Accounts" asp-action="ForgotPassword">
            <div asp-validation-summary="All" class="text-danger">
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Token"></label>
                    <input asp-for="Token" class="form-control" />
                    <span asp-validation-for="Token" class="text-danger"></span>
                </div>


                <button type="submit" class="btn btn-primary">Reset Password</button>
            </div>
        </form>
    </div>
</div>